/* Navbar styles */
.nav-page {
  padding: 10px;
}

.navbar {
  background-color: #ffffff; /* White background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Mat shadow */
  padding: 10px;
  border-radius: 4px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333; /* Replace with your desired text color */
  font-size: 20px;
}

.navbar-brand img.icon-banner {
  width: 30px; /* Set your desired width for the icon */
  height: 30px; /* Set your desired height for the icon */
  margin-right: 5px;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
  color: #333333; /* Replace with your desired text color */
  position: relative;
  padding: 10px 15px;
}

.nav-link:hover {
  background-color: #eeeeee; /* Replace with your desired hover background color */
  border-radius: 4px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff; /* White background for dropdown */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Mat shadow for dropdown */
  border-radius: 4px;
  display: none;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333333; /* Replace with your desired text color */
}

.dropdown-item:hover {
  background-color: #eeeeee; /* Replace with your desired hover background color */
  border-radius: 4px;
}
